[submodule "assets/ui_jigsaw"]
	path = assets/ui_jigsaw
	url = https://github.com/mins01/ui_jigsaw.git
[submodule "assets/js_elementMove"]
	path = assets/js_elementMove
	url = https://github.com/mins01/js_elementMove.git
