@charset "utf-8";

.game-outbox{
    border-radius: 10px;
    background-color: #eee;
    border:3px solid #999;
    box-shadow: inset 0 0 10px #00000099;
    overflow: hidden;
    
    margin: 10px auto;

    aspect-ratio: 1/1;
    /* max-width:100vmin; */
    min-width:200px;
    width:clamp(200px,90vmin,900px);
    /* height:80vmin; */

    position: relative;
}
.padding-wrap{
    width: 100%;
    height: 100%;
    padding:10px;
}
.game-wrap{

}
.game-wrap.ended .piece-wrap{
    filter: drop-shadow(0px 0px 2px #33ff33ff);

}


.piece-shape{
    background-color: #fff;
    pointer-events: none;
}
.piece-wrap{
    filter: drop-shadow(0px 0px 2px #00000099);
}
.piece-wrap.fixed{
    z-index: 5 !important;
    pointer-events: none !important;
    filter: drop-shadow(0px 0px 2px #0033ffff);
}
.piece-wrap.element-move-target-moving{
    filter: drop-shadow(0px 0px 5px #ffaa00ff);
}

/* 이미지 미리보기 */
.game-wrap.preview .preview-layer{
    opacity: 1;
    visibility: visible;
}
.preview-layer{
    z-index: 5;
    /* pointer-events: none; */
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: #00000099;
}
.preview-wrap{
    background-image: none;
    background-size: cover;
    outline: 2px solid #ffffff;

    background-size: var(--jigsaw-width) var(--jigsaw-height);
}
.preview-wrap{
    aspect-ratio: 1/1;
    width:70%;
    height: auto;
}

/* 직소퍼즐 */
.jigsaw-wrap{
    position: relative;
    z-index: 4;
}
.jigsaw-wrap{
    aspect-ratio: 1/1;
    width:70%;
    height: auto;
}

/* 피스 이동 제한 부 */
.element-move-isolation{
    width:100%;
    height:100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}